<div id='metanav'>
    <nav>
        <ul>
            <li><a href="/">Startseite</a></li>
            <li><a href="/impressum">Kontakt</a></li>
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/disclaimer">Haftungsausschluss</a></li>
        </ul>
    </nav>
</div>
</div><!-- MAIN -->
<div class='clearfix'></div>
<footer> </footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/lib/jquery-2.1.1.js"><\/script>')</script>
</body>
</html>
