#breadcrumb {
    background-color: var(--hilight-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    font-family: TeXMono;
    font-weight: bold;
    font-size: small;
}

#breadcrumb a, #breadcrumb a:visited {
    color: #521700;
    font-size: small;
}

#breadcrumb ul {
    padding: 5px 0px 5px 5px;
}

#breadcrumb li {
    display: inline;
    margin-left: 0.5em;
}
