:root {
    /* COLOUR DEFINITIONS */
    --color-dark-yellow:   #ffee37;
    --color-light-yellow:  #ffa;

    --color-dark-orange:   #ff5f00;
    --color-darker-orange: #cb6300;
    --color-light-orange:  #ee7f3d;

    --color-beige:         #fffdea;


}

