@import 'colors.css';
@import 'fonts.css';

:root {

    --box-radius: 3px;
    --section-radius: var(--box-radius);

    --std-bg-color:         var(--color-light-orange);
    --hilight-bg-color:     var(--color-dark-yellow);

    --heading-bg-color:     var(--color-light-yellow);
    --section-shadow-color: var(--color-dark-orange);

    --box-shadow: 2px 2px 0px 0px var(--color-darker-orange);

    --article-bg-color:     var(--color-beige);
}



html {
    overflow: scroll;
    background-color: var(--std-bg-color);
}

body {
    font-family: TeXSans;
}

ul {
    list-style-image: url("../../images/bullet.png");
}

