#heading {
    background-color: var(--hilight-bg-color);
    margin: 0.4em 0 auto;
    padding: 5px 10px 5px 10px;
    border-top-right-radius: var(--section-radius);
    border-top-left-radius: var(--section-radius);

    box-shadow: 3px 3px 0px 0px var(--section-shadow-color);
}

#slogan {
    margin-left: 10px;
}

#slogan div {
    font-size: 1em;
    font-family: telegrame, monospace;
    text-align: center;
    margin: 0.15em 0.2em;
}

#slogan #firma {
    font-size: 1.1em;
}

#slogan #contact {
    font-size: xx-small;
}

#contact {
    margin-top: 1em;
}

#firma {
    margin-bottom: 0.2em;
}

