@font-face {
    font-family: TeX;
    src: url('/ci/font/TeX');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: TeX_Bold;
    src: url('/ci/font/TeX_Bold');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: TeXMono;
    src: url('/ci/font/TeXMono');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: TeXMono_Bold;
    src: url('/ci/font/TeXMono_Bold');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: TeXSans;
    src: url('/ci/font/TeXSans');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: TeXSans_Bold;
    src: url('/ci/font/TeXSans_Bold');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: telegrame;
    src: url('/ci/font/telegrame');
    font-style: normal;
    font-weight: normal;
}


html{
    background-color: #fff1e1;
}

body {
    font-family: TeXSans;
}

section {
    border-bottom-style: solid;
    border-bottom-color: #ff6b03;
    border-bottom-width: 4px;
    background-color: #ffe;
    font-family: TeX, serif;
}

section header{
    background-color: white;
    font-family: TeXSans, sans-serif;
    font-size:  0.8em;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 2px;
    border-top-color: red;
    border-top-width: 2px;
    border-top-style: solid;
}

section header a, section header a:visited {
    color: orange;
    text-decoration: none;
}

section header h1{
    background-color:#ffe;
    font-size: 1.3em;
}

section a{
    color: red;
}

section footer {
    background-color: #ffff99;
    font-size: 0.7em;
    font-family: TeXMono;
}

/* ============== CUSTOM ======================== */
/* ------  header -------- */
header#heading{
    background-color: #ffa;
}

header {
    background-color:#ffffff;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: 2px;
}

#slogan span{
    font-size: 1em;
    font-family: telegrame, monospace;
    text-align: center;
}

#slogan #firma{
    font-size: 1.1em;
}

#slogan #contact{
    font-size: xx-small;
}

/* ------  navigation -------- */
#navigation{
    border-bottom-color: #ffff99;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
}

#topnav{
    background-color: #ffe;
    color: black;
    font-size: 0.75em;
}

.navcol-1{
    color: rgba(68, 5, 68, 0.98);
    font-family: TeXMono_Bold, monospace;
    font-size: 1em;
}

.navcol-2{
    font-family: TeXMono_Bold, monospace;
    text-align: center;
}

.dark{
    background-color: rgba(149, 92, 0, 0.47);
    color: #fff2d0;
}

a.dark {
    color: #fff2d0;
    font-weight: bold;
}

.shaddow{
    color: #ffffff;
    background-color: rgba(188, 122, 0, 0.47);
}

a.shaddow {
    font-weight: bold;
    color: #ffffff;
}

.light{
    background-color: rgba(255, 204, 153, 0.49);
    color: darkred;
}

a.light {
    font-weight: bold;
    color: darkred;
}

.bright{
    background-color: rgba(255, 239, 191, 0.47);
    color: darkred;
}

a.bright {
    font-weight: bold;
    color: darkred;
}

/* =============== CONTENT ===========================*/
section header h1{
    font-size: 1.2em;
}

#breadcrumb{
    background-color:#ffefbf;
}

#breadcrumb a, #breadcrumb a:visited{
    background-color:#ffefbf;
    color: maroon;
    font-size: small;
}
/* -------------- projects ----------------------------*/
div.customers{
    border-bottom-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color:#fc9;
}
.customer_description{
    font-size: 0.7em;
}

.project_name{
    font-family: TeX_Bold;
    font-weight: bold;
}
/* -------------customer-nav --------------------------------------*/
#bottomnav {
    background-color:#ffffde;
}

#bottomnav table{
    background-color:#ffffde;
}
#bottomnav table, td, th{
    border-style: none;
    text-align: left;
    font-size: small;
}

#bottomnav nav{
    background-color:#ffffde;
    color: black;
}

#bottomnav nav a{
    color: maroon;
}


/* -------------meta-nav --------------------------------------*/
#metanav, #metanav nav{
    background-color:#ffefbf;
}

#metanav nav a, #metanav nav a:visited{
    background-color:#ffefbf;
    color: maroon;
    font-size: small;
}


.bordered{
    border-style: solid;
    border-bottom-width: 2px;
}

.skills{
    font-family: TeXMono;
}

.cv-label{
    color: maroon;
    font-family: TeXSans;
    font-size: small;
}

.cv-customer{
    font-size: small;
}

.cv-kind ul, .cv-entry ul{
    list-style-image: url("/ci/image/bullet");
}
/* LEAGACY */
div#links{
    border-style:solid;
    border-color:#fc9;
    border-width: 1px 0px 1px 0px;
}
div#properties{
    border-style:solid;
    border-color:#fc9;
    border-width: 0px 0px 0px 1px;
    background-color: white;
}
div#lists ul{
    list-style-image: url("/ci/image/bullet");
}
