@import "../all/look"

$ci-background : #fff60a
$text-color: lighten($ci-background, 35)
$hi-text-color: lighten($ci-background, 40)

html
  background-color: $ci-background

#navigation
  border: 0

.content
  article
    section
      background-color: $text-color

article
  header
    background-color: $hi-text-color

section
  header
    background-color: $hi-text-color

    h1
      background-color: $hi-text-color
